<div class="login-body d-flex row gap-5">
  <div class="form-signin w-100 m-auto card card-box">

    <h1 class="h3 mb-3 fw-normal">Become Premium</h1>
    <h6 class="mt-1 mb-4">Please, upload the required documents</h6>

    <form id="userDocument-form" enctype="multipart/form-data">
      <input type="hidden" name="uid" value="{{uid}}" />

      <div class="mb-3">
        <label for="id_document">ID document</label>
        <input
          name="id_document"
          id="id_document"
          type="file"
          class="form-control"
          aria-label="file example"
          required
        />
      </div>
      <div class="mb-3">
        <label for="proof_of_address">Proof of Address</label>
        <input
          name="proof_of_address"
          id="proof_of_address"
          type="file"
          class="form-control"
          aria-label="file example"
          required
        />
      </div>
      <div class="mb-3">
        <label for="account_status">Account Status</label>
        <input
          name="account_status"
          id="account_status"
          type="file"
          class="form-control"
          aria-label="file example"
          required
        />
      </div>

      <button
        class="w-50 mt-3 btn btn-sm btn-primary"
        type="submit"
      >Submit</button>

    </form>

  </div>

  {{#if isUpdated}}
    <div class="form-signin w-100 m-auto card card-box">
      <h1 class="mb-3 fw-normal">I'm ready!</h1>
      <div>
        <button id="becomePremiumButton" class="btn btn-outline-success btn-lg">Become Premium</button>
      </div>

    </div>

  {{/if}}

</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/js/userDocs.js"></script>