<div>
  <div class="card-body">
    <h1>Your Order</h1>
    <p>By: {{orderPurchased.purchaser}}</p>
    <p>Total: ${{orderPurchased.amount}}</p>
    <p>Date order: {{orderPurchased.purchase_datetime}}</p>
    <p>Order code: {{orderPurchased.code}}</p>
  </div>
</div>